  *{
  font-family: ;
  font-size: 14px; 
  padding: 0px;
  margin: 0px;
  
  }
  
  .youtude{
    margin: 20px auto;
    width: 500px;
  }
  
  .table{
   margin: 20px auto; /* 20px: 위아래, auto: 좌우 */
   border-style: solid; /* 실선 */
   border-width: 1px; /* 선 두께 */
   border-color: #000000; /* 선 색깔 */
   border-collapse: collapse; /* 셀 경계선 병합*/
   width: 90%;
  } 
  .tableyu{
   margin: 20px auto; /* 20px: 위아래, auto: 좌우 */
   border-style: solid; /* 실선 */
   border-width: 1px; /* 선 두께 */
   border-color: #000000; /* 선 색깔 */
   border-collapse: collapse; /* 셀 경계선 병합*/
   width: 40%;
  } 
  
  .th{
   border-style: solid;
   border-width: 1px;
   border-color: #000000;
   text-align: center;
  }
   .td{
   border-style: solid;
   border-width: 1px;
   border-color: #000000;
  
  }
    .table2{
   border-style: none; /* 실선 */
   border-width: 1px; /* 선 두께 */
   border-color: #000000; /* 선 색깔 */
   border-collapse: collapse; /* 셀 경계선 병합*/
   /*margin: 10px 10px 10px 19px;*/ /* 위,오른쪽,아래,왼쪽*/
   width: 50%; /* 테이블 너비*/
   margin: 20px auto; /*20px: 위아래, auto:좌우,자동 가운데 정렬*/
  }
    .th2{
   border-top-style:solid;
   border-top-width:2px;
   border-top-color:#ff0000;
  
   border-bottom: solid 2px #ff0000;
   border-left: none;
   border-right: none;
   background-color: #ffff00; /*배경 색깔*/
  }
    .td2{
   border-top: none;
   border-right: none;
   border-bottom: solid 1px #ff0000;
   border-left: none;
   text-align: center;
  }
    .td3{
   border-top: none;
   border-right: none;
   border-bottom: solid 2px #ff0000;
   border-left: none;
   text-align: center;
  }
  

  /*메뉴 구성 시작*/
  nav{ margin: 5px 5px;}
  nav > span > a{font-weight: bold; margin: 0; padding: 3px;
                 border: 2px solid black; background: blue;
                 color: white; text-decoration: none;}
  
  nav > span > a:hover{background: #000066; color: white; }
  
  /*메뉴 구성 종료*/
  
  
  
  /*----------------------------------top 시작----------------------------------------- */
  
  #topMenu{
   margin: 0px auto;
   padding: 0px;
   height: 30px;
   width: 80%;
   background-color: red;
   border-radius: 5px; /* 둥근 모서리 */
  }
  
  #topMenu ul{
   margin: 0px;
   padding: 0px;
  }
  
  
  #topMenu ul li{
   margin: 0px;
   padding: 0px;
   list-style: none;  /*블렛 기호 제거*/
   color: white;
   background-color: red;
   float:left; /* li태그의 출력 방향을 좌측으로 변경*/
   line-height: 30px;
   vertical-align: middle; /* 세로 기준 중간 정렬*/
   text-align: center;
  }
  
  #topMenu .menuLink{
   text-decoration: none; /* 밑줄 제거 */
   color: white;
   display: block;  /* A 관련 영역 전부 링크 설정 */
   widows: 150px;
   font-weight: bold;
  }
  
  #topMenu .menuLink:hover{
   color:#00FF00;
   background-color: blue;
  }
  
  /*----------------------------------top 종료----------------------------------------- */
        .td_left{
   border-style: solid;
   border-width: 1px;
   border-color: #000000;
   text-align: left;
  }
  
      .td_leftsol{
   width: 20%;
   margin: 20px auto;
   text-align: left;
   background-color: yellow;
   padding: 3px;
   
  }
    .news{
   text-align: center;
   border: solid 1px #aaaaaa;
   width: 30%;
   margin: 20px auto; /*20px:위 아래 auto:좌우*/
   padding: 3px; /*경계선과 내용과의 간격*/
   background-color: red; /*배경 색*/
  }
    .title{
    text-align: center;
    border: solid 1px #AAAAAA;
    width: 20%;
    margin: 20px auto; /* 20px: 위아래, auto: 좌우 */
    padding: 3px; /* 경계선과 내용과의 간격 */
    background-color: #EEEEEE;  /* 배경색 */
  }    
    .content{
   text-align: left;
   width: 50%;
   border: none 2px #000000; /*선 생략*/
   margin: 20px auto;  /*20px위아래 조정,auto(센터)좌우 조정*/
  }
    .contentone{
   text-align: center;
   width: 50%;
   border: none 2px #000000; /*선 생략*/
   margin: 20px auto;  /*20px위아래 조정,auto(센터)좌우 조정*/
  }
  
      .url{
   text-align: center;
   border: solid 1px red;
   width: 30%;
   margin: 20px auto; /*20px:위 아래 auto:좌우*/
   padding: 3px; /*경계선과 내용과의 간격*/
   background-color: red; /*배경 색*/
  }
  
  form ul li.right{
   list-style: none;
   margin:10px 30px 10px 0px;
   text-align: right;
  }
  
  form ul li.center{ /*form -> ul -> li -> center*/
   list-style: none;
   margin:10px 30px 10px 0px;
   text-align: center;
  }
  
  form ul li{
   list-style: none;
   margin:10px 0px 10px 0px; /* ↑→↓←방향으로 지정*/
  }
  
  form ul{
   margin:10px 0px;
  }
  
  form ul li span.link{
   background-color: lime;
   border: solid 1px red;
   padding: 2px;
   color: white;
  }
    
  .bottom{
    clear: both; /*float = 'left' 속선의 제거*/
    text-align: center;
    margin: 30px auto;
  }
  
  
  A:LINK{ /* 모든 A 태그의 기본 출력 형태 */
    color: #333333;
    text-decoration: none;
  }
  
  A:VISITED{ /*모든 방문한적이있는 A태크 */
    color: #333333;
    text-decoration: none;
  }
  
  A:HOVER{ /*모든 A태크위에 마우스가 올라간 경우*/
    color: #5555ff;
    text-decoration: underline;
  }
  
  .item_title{
   /* font-weight: bold;
    text-decoration: underline;
    */
    color: blue;
    text-shadow:1px 1px 5px purple; /*그림자 가로 위치 , 그림자 새로 위치, 번짐 정도, 색상*/ 
    
  }
  
  
  .menu_on_table{
  width: 100%; 
  border-bottom: dotted 1px #aaaaaa; 
  margin: 0ps auto; 
  text-align: right;
  padding-right: 0px;
  }
  
  /* 메뉴를 좌측 기준으로 정렬 합니다.*/
  .menu_on_table_left{
  width: 50%; 
  border-bottom: none 1px #aaaaaa; 
  margin: 0ps auto; 
  text-align: left;
  padding-right: 0px;
  float: left;
  }
  
  .menu_on_table_left1{
  width: 85%;
  border-bottom: none 1px #aaaaaa; 
  margin: 20ps auto; 
  text-align: left;
  padding-right: 0px;
  float: left;
  }
  
  
  /* 메뉴를 우측 기준으로 정렬 합니다.*/
  .menu_on_table_right{
  width: 50%; 
  border-bottom: none 1px #aaaaaa; 
  margin: 0px auto; 
  text-align: right;
  padding-right: 0px;
  float: right;
  }
  
  
  .box1{
  border:solid 1px blue;
  padding: 0px 3px 0px 3px;
  background-color: red;
  font-family: serif;
  }
  
  
  .box1 A:LINK{ /* 모든 A 태그의 기본 출력 형태 */
    color: #FFFFFF;
    text-decoration: none;
  }
  
  .box1 A:VISITED{ /*모든 방문한적이있는 A태크 */
    color: #ffffff;
    text-decoration: none;
  }
  
  .box1 A:HOVER{ /*모든 A태크위에 마우스가 올라간 경우*/
    color: #aaaaaa;
    text-decoration: none;
  }
  
  #popupCloseD A:LINK{ /* 모든 A 태그의 기본 출력 형태 */
       color: #FFFFFF;
       text-decoration: none;
       }
  
  #popupCloseD A:VISITED{ /*모든 방문한적이있는 A태크 */
       color: #ffffff;
       text-decoration: none;
       }
    
  #popupCloseD A:HOVER{ /*모든 A태크위에 마우스가 올라간 경우*/
       color: #aaaaaa;
       text-decoration: none;
       }
  }
  
  /*  */
  #popup{
    position: absolute;
    top:25%;
    left:25%;
    width: 250px;
    height: 350px;
    background-color: #333333;
    text-align: center; 
    color: red; 
    display: none;
  }
  
  
  .label{
    width: 100px;
    text-align: right;
    color: orange;
    float: left;
    margin-right: 10px;
    
  }
  
  
  .legend{
    background-color: yellow;
  }
  
  .fieldest{
    background-color: black;
    margin: 40px;
  }

/* <UL><LI class='none'>... */
  ul li.none{
    list-style: none;
    text-align: center;
  }
  
  
  